.todoContainer {
  padding: 0.5rem;

  .addNewTodo {
    margin-bottom: 1rem;

    h5 {
      margin-bottom: 0.5rem;
      color: var(--dark-alt);
    }

    input {
      height: 1.5rem;
      border-radius: 0.2rem;
      border: 2px solid var(--dark-alt);
      background-color: var(--light);

    }

    button {

      margin-left: 0.5rem;
    }
  }

  .todoItem {
    //border-top: 1px solid blue;
    background-color: var(--secondary);
    margin-bottom: 1rem;
    padding: 1rem;
    position: relative;
    border-radius: 0.8rem;
    display: flex;
    align-items: center;
    transition: 0.3s;
    cursor: default;
    width: 33vw;

    &:hover {
      opacity: 0.8;
    }

    .checkbox {
      width: 1.5rem;
      height: 1.5rem;
      margin-right: 1rem;
      color: var(--primary);
      cursor: pointer;
      transition: 0.3s all ease-out;

      &:hover {
        color: var(--light-alt);
      }
    }

    .todoContent {
      font-size: 1rem;
      color: var(--dark);
    }

    .delTodo {
      position: absolute;
      top: 50%;
      right: 1rem;
      width: 1.3rem;
      height: 1.3rem;
      transform: translateY(-50%);
      color: var(--primary);
      cursor: pointer;

      &:hover {
        color: var(--light-alt);
      }
    }
  }

  .todoItemCompleted {
    background-color: var(--light-alt);
    opacity: 0.8;
    //border: 1px solid green;
    .checkbox {
      width: 1.5rem;
      height: 1.5rem;
      color: var(--primary);
      cursor: pointer;

      &:hover {
        color: var(--dark-alt);
      }
    }

    .todoContent {
      text-decoration: line-through;
    }

    .delTodo {
      &:hover {
        color: var(--dark-alt);
      }
    }
  }
}